body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.preview-uploader {
  .ant-upload-list-picture-card-container, .ant-upload.ant-upload-select-picture-card {
    width: 100%;
    height: auto;
  }

  .ant-upload.ant-upload-select-picture-card {
    height: 180px;
  }
}
